<div class="calendar calendar-month-view">
    <div class="days-of-the-week">
        {% for day in ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %}
            <div class ="day-of-the-week">
                {{ day|trans }}
            </div>
        {% endfor %}
    </div>
    <div class="calendar-week">
        <div class="calendar-event">

        </div>
    </div>
    {% for date in dates %}
        <div class="calendar-event">
            {{ event.getTitle() }}
            <span> {{ date.date|date("m/d/Y") }}</span>
        </div>
    {% endfor %}
</div>